<header>
  <nav class="top-nav" style="background: blue"> <!-- Primary Color -->
    <div class="container">
      <div class="nav-wrapper"><a class="page-title" style="color: white">EPL Stat</a></div> <!-- Page Title ERB Secondary Color-->
    </div>
  </nav>


<!--EPL Lion Logo, look to the materialize website for how they do spacing in their 
sidenav-->

  <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>

  <ul id="nav-mobile" class="side-nav fixed" style="background: blue"> <!-- Primary Color -->
    <img src="https://www.premierleague.com/resources/ver/i/elements/premier-league-logo-header.png">
    <li class="bold"><a class="waves-effect waves-teal" style="color: white">Home</a></li>
    <li class="bold"><a class="waves-effect waves-teal" style="color:  white">Clubs</a></li>
    <li class="bold"><a class="waves-effect waves-teal" style="color: white">Players</a></li>
    <li class="bold"><a class="waves-effect waves-teal" style="color: white">Head to Head</a></li>
    <!-- li's secondary color -->
  </ul>
</header>